In [92]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [93]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mosquera,CO,2022-09-17 22:56:37,4.7059,-74.2302,59.09,72,40,11.50
1,1,Castro,BR,2022-09-17 22:57:52,-24.7911,-50.0119,49.05,87,0,8.99
2,2,Ushuaia,AR,2022-09-17 22:57:52,-54.8000,-68.3000,40.66,70,75,23.02
3,3,Dikson,RU,2022-09-17 22:57:53,73.5069,80.5464,31.12,78,22,14.05
4,4,Kodiak,US,2022-09-17 22:56:34,57.7900,-152.4072,56.97,60,73,0.43

In [94]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [120]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [121]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [122]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [123]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [124]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [125]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [126]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Bathsheba,BB,2022-09-17 22:56:36,13.2167,-59.5167,83.01,83,40,8.05
10,10,Butaritari,KI,2022-09-17 22:57:54,3.0707,172.7902,82.99,65,77,10.29
11,11,Kapaa,US,2022-09-17 22:57:55,22.0752,-159.3190,84.18,67,85,5.99
14,14,Ponta Do Sol,PT,2022-09-17 22:56:38,32.6667,-17.1000,75.70,85,41,8.30
18,18,Mayo,US,2022-09-17 22:57:57,38.8876,-76.5119,78.21,75,5,10.69
19,19,Georgetown,MY,2022-09-17 22:56:49,5.4112,100.3354,76.98,95,20,9.22
21,21,Syracuse,IT,2022-09-17 22:57:57,37.0881,15.2792,76.37,73,28,4.85
22,22,Richland,US,2022-09-17 22:56:41,40.7834,-82.5499,78.82,60,95,1.01
24,24,Half Moon Bay,US,2022-09-17 22:57:58,37.4636,-122.4286,76.41,73,100,17.27
25,25,Puerto Escondido,MX,2022-09-17 22:56:43,15.8500,-97.0667,75.83,94,100,3.38

In [127]:
preferred_cities_df.count()

City_ID       136
City          136
Country       136
Date          136
Lat           136
Lng           136
Max Temp      136
Humidity      136
Cloudiness    136
Wind Speed    136
dtype: int64

In [128]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
7          Bathsheba      BB     83.01  13.2167  -59.5167
10        Butaritari      KI     82.99   3.0707  172.7902
11             Kapaa      US     84.18  22.0752 -159.3190
14      Ponta Do Sol      PT     75.70  32.6667  -17.1000
18              Mayo      US     78.21  38.8876  -76.5119
19        Georgetown      MY     76.98   5.4112  100.3354
21          Syracuse      IT     76.37  37.0881   15.2792
22          Richland      US     78.82  40.7834  -82.5499
24     Half Moon Bay      US     76.41  37.4636 -122.4286
25  Puerto Escondido      MX     75.83  15.8500  -97.0667

In [129]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [130]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
 # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [131]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Bathsheba,BB,83.01,13.2167,-59.5167,Atlantis Hotel
10,Butaritari,KI,82.99,3.0707,172.7902,Isles Sunset Lodge
11,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Ponta Do Sol,PT,75.70,32.6667,-17.1000,Hotel do Campo
18,Mayo,US,78.21,38.8876,-76.5119,Resorts Resource Group International
...,...,...,...,...,...,...
437,Isla Vista,US,77.25,34.4133,-119.8610,Best Western Plus South Coast Inn
447,Cozumel,MX,86.07,20.5083,-86.9458,Cozumel Palace® All Inclusive Resort
449,Kailua,US,87.78,21.4022,-157.7394,Sheffield House Bed & Breakfast
455,Esna,EG,80.04,25.2934,32.5540,Orient Star Dahabyia Isna 05 Nights Each Sunday
456,Sinnamary,GF,80.51,5.3833,-52.9500,ALETHEIA Appartement Sinnamary

In [132]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [133]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [134]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [135]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))